*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.container{
    padding: 28px 2rem; 
    margin: 0 auto;
}



.header1{
    margin-bottom: 2.8rem;
}
.paracon{
    text-align: center;
    max-width:35rem;
    margin:0 auto;
    margin-top:1rem;
    font-size: 0.9rem;
    color: rgb(110, 108, 108);
}

    /* max-width: 568px;
    text-align: center;
    color: rgb(105, 99, 99);
    margin: 0 auto; */
.head1{
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}
main{
    padding: 0 4rem;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:0.8rem;
    
}
@media (max-width:1030px) {
    main{
    grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:800px) {
    main{
    grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:570px) {
    main{
    grid-template-columns: repeat(1,1fr);
    }
}

.item{
    overflow: hidden;
    border: 1px solid rgba(166, 158, 158, 0.357);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.anch{
    position: relative;
    overflow: hidden;
    height:10rem;
}
.item2{
    padding:1rem auto;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    /* margin-bottom: 1.67rem; */
}
.item3{
    padding:1rem auto;
    margin: 1rem auto;
    display: flex;
    /* height: 1.2rem; */
    justify-content: space-between;
    /* align-items: center; */
    padding-left: 1.2rem;
    padding-right: 1.2rem;

    gap: 2.1rem;
    /* align-items: flex-end; */
    /* padding-left: 1.2rem;
    padding-right: 1.2rem;
    gap: 1.8rem;
    margin-bottom: 0.5rem; */
}
.item3a{
    display: flex;
    align-items: center;
}

.avatar{
    height: 1.5rem;
    width: 1.5rem;
    overflow: hidden;
    /* border: 1px solid black; */
    border-radius: 13px;
    background-color: rgba(223, 219, 219, 0.488);
    margin:0 auto;
    margin-right: 0.8rem;
}
.avtacont{
    display: flex;
    flex-direction: column;
}

.img1{
    object-fit: cover;
    object-position: center;
    position: absolute;
    overflow: hidden;
    height:100%;
    width: 100%;
}
.item:hover .img1{
    transform: scale(1.6);
    transition: all 1s 0s linear;
}

.head2{
    font-size: 0.9rem;
    margin-bottom:0.6rem;
    color: black;
}

.head2:hover{
    color:rgb(60, 60, 201);
}
.para2{
    font-size: 0.85rem;
    font-weight: 550;
    color: rgb(125, 113, 113);
}
.anch2{
    text-decoration: none;
}
.span1{
    font-size: 0.70rem;
    color: blue;
    font-weight: 600;
    margin-bottom: 0.1rem;
    padding: 0 auto;
}
.span2{
    font-size: 0.75rem;
    color: grey;
}
.para3{
    font-size: 0.73rem;
    color: rgb(75, 68, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    border: 1px solid rgb(190, 183, 183);
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    /* margin:1rem; */
    /* border: 1px solid rgb(190, 183, 183); */
}
